body {
	margin: 0px;
	padding: 0px;
	width: auto;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
	color: #333333;
}

h2 {
	margin: 20px;
	padding: 0;
	color: #333333;
	text-align: center;
}

h3 {
	margin: 20px 20px 0 20px;
	padding: 0;
	color: #333333;
}

#cell {
	text-align: center;
	width: 180px;
	height: 550px;
	border: 2px solid goldenrod;
	border-radius: 8px;
}

header {
	background-color: white;
	margin-left: auto;
    margin-right: auto;
    display: block;
	padding: 10px;
	width: auto;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    border-bottom-style: solid;
    border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #DDDDDD;
}

header > ul {
    list-style-type: none;
    margin: auto;
    padding: 0px;
    text-align: center;
    font-size: 1em;
	height: auto;
	width: auto;
}

header > ul > li {
    display: inline-grid;
    white-space: nowrap;
	margin: 0 6px 0 6px;
}

#logo{
	height: 36px;
	margin: 0;
	padding: 0;
}

.buttonStyle {
	padding: 10px;
	border: 1px solid goldenrod;
	font-weight: bold;
	border-radius: 4px;
	font-size: 14px;
	color: white;
    background-color: goldenrod; 
	text-decoration: none;
	cursor: pointer;
	height: auto;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
}	

.buttonStyle:hover {
    color: white;
    background-color: goldenrod; 
}

.buttonStyle:active {
    color: gray;
} 

.searchBar {
	padding: 10px;
	margin: 2px 0 2px 2px;
	background-color: white;
	border: 2px solid #DDDDDD;
	border-radius: 4px 0 0 4px;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
}

.searchButton {
	padding: 10px;
	margin: 2px 2px 2px 0;
	background-color: white;
	border: 2px solid #DDDDDD;
	border-radius: 0 4px 4px 0;
	font-size: 14px;
	cursor: pointer;
}

.listMenu {
    list-style-type:none;
    padding:0;
    margin:0;
    display: none;
	position: absolute;
	border: 2px solid goldenrod;
	border-radius: 8px;
	background-color: white;
}

.listMenu > li {
    position: block;
	padding: 0;
	font-size: 13px;
	text-align: left;
	border-top: 1px solid goldenrod;
}

.listMenu > li:hover {
    color: white;
    background-color: goldenrod;
}

.listHeader {
	font-weight: bold;
	margin: 0;
	padding: 6px;
}


.listMenu > li > a {
	display: block;
	height: auto;
	padding: 6px 10px 6px 10px;
	margin: 0;
	text-decoration: none;
	color: black;
}



.inputText {
	padding: 10px;
	margin: 6px 20px 20px 20px;
	background-color: white;
	border: 2px solid #DDDDDD;
	border-radius: 4px;
	font-size: 14px;
	color: black;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
	width: 88%;
}

.inputArea {
	margin: 30px 0 30px 0;
}

.formStyle{
	margin: 30px auto 30px auto;
	border: 1px solid #DDDDDD;
	width: 500px;
	padding: 15px;
}


#savePassword {
	font-size: 12px;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
	margin: auto;
}

#passwordRemind {
	font-size: 12px;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
	text-align: center;
	display: block;
	margin: 40px 20px 20px 20px;
}

.buttons {
	padding: 8px 14px 8px 14px;
	margin: 2px;
	height: auto;
	cursor: pointer;
	font-weight: bold;
}

#categories {
	font-weight: normal;
}

#materialsList, #toolsList, #stepsList {
	text-decoration: none;
	list-style: none;
	padding-left: 0;
	margin: 0;
}

#steps {
	border: 1px solid #DDDDDD;
	margin: 20px;
}

i {
	cursor: pointer;
}

label {
	margin: 20px;
	padding: 2px;
	color: #333333;
	font-weight: bold;
	font-size: 14px;
}