body {
	margin: 0px;
	padding: 0px;
	width: auto;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
	color: #333333;
	background-color: #DDDDDD;
}

h2 {
	margin: 20px;
	padding: 0;
	color: #333333;
	text-align: center;
}

h3 {
	margin: 20px 20px 0 20px;
	padding: 0;
	color: #333333;
}

header {
	background-color: white;
	margin-left: auto;
    margin-right: auto;
    display: block;
	padding: 10px;
	width: auto;
	height: 40px;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    border-bottom-style: solid;
    border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #DDDDDD;
	z-index: 1;
}

i {
	cursor: pointer;
	color: #333333;
}

label {
	margin: 20px;
	padding: 2px;
	color: #333333;
	font-weight: bold;
	font-size: 14px;
}

textarea {
	resize: vertical;
	max-height: 150px;
	line-height: 1.5;
}




/* Alert */
.alert {
	margin: -12px 20px 10px 20px;
	font-size: 14px;
	color: #DC143C;
	display: block;
	border-radius: 4px;
}
.alertLogin {
	margin: 6px 20px 6px 20px;
	font-size: 14px;
	background-color: #e91640;
	color: white;
	display: block;
	padding: 20px 10px 20px 10px;
	border: 2px solid #DC143C;
	border-radius: 4px;
}


/* Button */
.buttonAdd {
	padding: 8px;
	margin: auto auto 10px auto;
	height: auto;
	width: auto;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	color: #333333;
	background-color: white;
	border: 2px solid #DDDDDD;
	border-radius: 4px;
	display: block;
}
.buttonStyle {
	padding: 10px;
	border: 2px solid goldenrod;
	font-weight: bold;
	border-radius: 4px;
	font-size: 14px;
	color: white;
    background-color: goldenrod; 
	text-decoration: none;
	cursor: pointer;
	height: auto;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
}	
.buttonStyle:hover {
    color: white;
    background-color: goldenrod; 
}
.buttonStyle:active {
    color: gray;
} 
.buttons {
	padding: 8px 14px 8px 14px;
	font-size: 18px;
	display: block;
	cursor: pointer;
	font-weight: bold;
}


/* Comment */
.comment {
	height: auto;
	margin: 0;
	border: 2px solid #DDDDDD;
}
.commentAvatar {
	padding: 10px;
	vertical-align: text-top;
	width: 20%;
}
.commentImg{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.commentList {
	margin: 20px;
	height: auto;
	width: 91%;
	padding: 0;
	border-collapse: collapse;
}
.commentText {
	padding: 6px;
	margin: 0;
}
.commentText > p{
	font-size: 14px;
	padding: 0;
	margin: 0;
	vertical-align: top;
}


/* Form */
.asterisk{
	color: red;
}
.formStyle{
	margin: 30px auto 30px auto;
	border: 1px solid #DDDDDD;
	width: 500px;
	padding: 15px;
	background-color: white;
}


/* Gallery */
.gallery {
	column-rule: 0px solid #eee;
	column-gap: 20px;
	width: 96%;
	margin: 0 auto;
	padding: 20px;
}
.gallery .miniature {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	max-width: 100%;
	width: 100%;
}
.gallery .miniature .miniatureImg {
	max-width: 100%;
	height: 100%;
	display:block;
	margin: 0 auto;
	width: 100%;
}
.gallery.galleryColumns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.miniature {
	text-decoration: none;
	color: #333333;
	position: relative;
}
.miniatureButton {
	width: auto;
	height: auto;
	position: absolute;
	margin: 10px;
	right: 0;
	display: none;
}
.miniature:hover .miniatureButton {
	display: block;
}
.miniatureImg {
	border: 2px solid #DDDDDD;
	border-radius: 4px;
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 1023px) {
	.gallery.galleryColumns {
	  -webkit-column-count: 2;
	  /* Chrome, Safari, Opera */
	  -moz-column-count: 2;
	  /* Firefox */
	  column-count: 2;
	}
}
@media only screen and (max-width: 720px) {
	.gallery.galleryColumns {
	  -webkit-column-count: 1;
	  /* Chrome, Safari, Opera */
	  -moz-column-count: 1;
	  /* Firefox */
	  column-count: 1;
	}
}


/* Icon */
#plus {
	width: auto;
	height: auto;
	font-size: 18px;
}
#stepsIcon {
	float: right;
	margin-right: 20px;
}


/* Image */
.fileToUpload {
	margin: 6px 20px 6px 20px;
}
.previewImg {
	margin: 6px 20px 20px 20px;
	width: 91%;
	border: 2px solid #DDDDDD;
	border-radius: 4px;
}


/* Input */
.inputArea {
	margin: 30px 0 30px 0;
}
.inputText {
	padding: 10px;
	margin: 6px 20px 20px 20px;
	background-color: white;
	border: 2px solid #DDDDDD;
	border-radius: 4px;
	font-size: 14px;
	color: #333333;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
	width: 87%;
}


/* Login */
#passwordRemind {
	font-size: 12px;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
	text-align: center;
	display: block;
	margin: 40px 20px 20px 20px;
}
#remember {
	vertical-align: bottom;
	width: 10px;
	height: 10px;
}
#rememberPassword {
	margin: 6px 20px 6px 20px;
	text-align: center;
}
#savePassword {
	font-size: 12px;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
	margin: auto;
	vertical-align: middle;
	*overflow: hidden;
}


/* Menu */
.listHeader {
	font-weight: bold;
	margin: 0;
	padding: 6px;
	text-align: center;
}
.menuList {
    list-style-type:none;
    padding:0;
    margin:0;
    display: none;
	position: absolute;
	border: 2px solid #DDDDDD;
	border-radius: 4px;
	background-color: white;
}
.menuList > li {
    position: block;
	padding: 0;
	font-size: 13px;
	text-align: left;
	border-top: 1px solid #DDDDDD;
}
.menuList > li:hover {
    color: white;
    background-color: goldenrod;
}
.menuList > li > a {
	display: block;
	height: auto;
	padding: 6px 10px 6px 10px;
	margin: 0;
	text-decoration: none;
	color: #333333;
}
.searchBar {
	padding: 10px;
	background-color: white;
	border: 2px solid #DDDDDD;
	border-radius: 4px 0 0 4px;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
}
.searchButton {
	padding: 10px;
	background-color: white;
	border: 2px solid #DDDDDD;
	border-radius: 0 4px 4px 0;
	font-size: 14px;
	cursor: pointer;
	height: auto;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
}
#categories {
	font-weight: normal;
}
#categories:hover #categoriesMenu {
	display: block;
}
#logo{
	height: 36px;
	margin: 0;
	padding: 0;
}
#leftbox { 
	float: left;
	width: 40%;
	height: 40px;
} 
#middlebox { 
	float: left;
	width: 20%;
	height: 40px;
	text-align: center;
} 
#rightbox { 
	float: right;
	width: 40%;
	height: 40px;
}
#userAvatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 8px;
}
#userLogin {
	font-size: 18px;
	padding: 0;
	margin: auto;
	font-weight: bold;
}
#userName {
	height: inherit;
	display: flex; 
}
#user {
	padding: 4px 14px 4px 14px;
	font-size: 18px;
	margin: 0px;
	cursor: pointer;
	display: block;
}
#user:hover #userMenu{
	display: block;
}


/* Profile */
.profileImg {
	height: 120px;
	width: 120px;
	float: left;
}


/* Tutorial ADD*/
.steps {
	border: 2px solid #DDDDDD;
	margin: 20px;
}
.toolsInput, .materialsInput {
	width: 80%;
	margin: 6px 15px 6px 20px;
}
#category {
	padding: 6px;
	margin: 6px 20px 30px 20px;
	background-color: white;
	border: 2px solid #DDDDDD;
	border-radius: 4px;
	font-size: 14px;
	color: #333333;
	font-family: 'Roboto' ;
	letter-spacing: 0.7px;
	display: block;
}
#category > option {
	color: #333333;
	font-family: 'Roboto';
	letter-spacing: 0.7px;
}
#materialsList, #toolsList, #stepsList {
	text-decoration: none;
	list-style: none;
	padding-left: 0;
	margin: 0;
}


/* Tutorial SHOW*/
.showCategory {
	margin: 6px 6px 30px 20px;
	font-size: 16px;
	display: inline-block;
}
.showDescription, .showDescriptionStep {
	margin: 6px 20px 20px 20px;
	text-align: justify;
	line-height: 1.5;
	font-size: 14px;
}
.showImg {
	margin: 0px 20px 0px 20px;
	width: 91%;
	border: 2px solid #DDDDDD;
	border-radius: 4px;
}
.showList {
	margin: 10px 0 30px 0;
}
.showSteps {
	margin: 50px 0 0 0;
}
#categoryLabel {
	margin: 20px 6px 20px 20px;
}