body {
	margin: 0px;
	padding: 0px;
	width: auto;
	font-family: Lucida, sans-serif;
	letter-spacing: 0.7px;
	color: #333333;
	background-color: #F0F0F0;
}

h3 {
	margin: 0;
	padding: 0;
	color: #333333;
}
a {
	color: #333333;
	text-decoration: none;
}
.a {
	text-decoration: underline;
}
.margin {
	margin-top: 30px;
}

header {
	background-color: white;
	margin-left: auto;
    margin-right: auto;
	display: block;
	width: auto;
	padding: 10px;
	height: 40px;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    border-bottom-style: solid;
    border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #DDDDDD;
	z-index: 1;
}

i {
	cursor: pointer;
	color: #333333;
}

label {
	margin: 0 0 0 10px;
	padding: 0;
	color: #333333;
	font-weight: bold;
	font-size: 13px;
	display: block;
}

textarea {
	resize: vertical;
	max-height: 150px;
	line-height: 1.5;
}

main {
	padding: 10px 10px 30px 10px;
}


/* Admin */
.adminTable {
	background-color: white;
	padding: 6px;
	border-collapse: collapse;
	border: 1px solid black;
}

th, td {
	padding: 15px;
	text-align: left;
	border: 1px solid black;
  }


/* Alert */
.alert {
	margin: -20px 0 14px 0;
	font-size: 14px;
	border-radius: 4px;
	display: block;
	color: #DC143C;
}
.alertMessage {
	margin: 6px 0 6px 0;
	padding: 14px 10px 14px 10px;
	font-size: 14px;
	border-radius: 4px;
	border: 2px solid #DC143C;
	display: block;
	color: #DC143C;
}
.alertSuccess {
	text-align: center;
	border-radius: 4px;
	margin: 0 auto 6px auto;
	padding: 14px 10px 14px 10px;
	border: 2px solid goldenrod;
	background-color: white;
	width: 300px;
}


/* Button */
.buttonAdd {
	padding: 10px;
	font-size: 15px;
	border-radius: 4px;
	border: none;
	margin: auto auto 30px auto;
	font-family: Lucida, sans-serif;
	width: auto;
	cursor: pointer;
	font-weight: bold;
	display: block;
	background-color: white;
}
.buttonAdd:hover {
	background-color: #F0F0F0;
}
.buttonStyle {
	padding: 12px;
	border-radius: 4px;
	font-size: 15px;
	letter-spacing: 0.4px;
	font-weight: bold;
	cursor: pointer;
	height: auto;
	width: auto;
	border: none;
	font-family: Lucida, sans-serif;
	color: white;
	background-color: #e1b74c;
	margin: auto;
	display: block;
}
.buttonStyle:hover {
    background-color: goldenrod; 
}
.buttonStyle:active {
    color: gray;
}
.buttonText {
	display: inline-block;
	margin: 0 0 0 8px;
}
.buttons {
	text-align: center;
	margin-top: 10px;
	color: black;
	border: 1px solid #DDDDDD;
	background-color: white;
}
.buttons:hover {
	background-color: #E8E8E8;
}



/* Comment */
.comment {
	margin: 0;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-radius: 4px;
	height: 100%;
	list-style: none;
	font-family: Lucida, sans-serif;
}
.commentAvatar {
	padding: 10px;
	margin: auto;
	display: table-cell;
	background-color: white;
}
.commentImg {
	object-fit: cover;
  	width: 60px;
	height: 60px;
	border-radius: 4px;
	vertical-align: middle;
}
.commentImg:hover {
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.commentList {
	margin: 40px 0 0 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	height: auto;
}
.commentText {
	margin: 0;
}
.commentText > p {
	font-size: 10px;
	padding: 0;
	margin: 0;
}
.commentContent {
	width: 100%;
	height: 100%;
	padding: 10px 10px 10px 0;
	display: table-cell;
	vertical-align: top;
}
.commentDate {
	font-size: 14px;
	color: #606060;
	margin: 0;
}
.commentComment {
	font-size: 14px;
	margin: 6px 0 0 0;
}
.commentUser {
	font-weight: bold;
	font-size: 14px;
	margin: 0;
}
.commentUser:hover {
	text-decoration: underline;
}


/* Form */
.asterisk {
	color: red;
}
.formStyle {
	max-width: 500px;
	margin: 20px auto 20px auto;
	border-radius: 4px;
	padding: 50px 30px 50px 30px;
	background-color: white;
}
.headline {
	margin: auto auto 30px auto;
	padding: 0;
	color: #333333;
	text-align: center;
	font-size: 24px;
}



/* Gallery */
.gallery {
	margin: 10px;
	overflow: hidden;
}
.miniature {
	width: 20%;
	padding-bottom: 20%;
	float: left;
	position: relative;
}
.miniatureButton {
	width: 18px;
	height: 18px;
	font-size: 13px;
	border-radius: 4px;
	letter-spacing: 0.4px;
	margin: 10px;
	padding: 6px;
	right: 0;
	position: absolute;
	display: none;
	background-color: white;
	font-weight: bold;
	cursor: pointer;
	border: none;
	font-weight: bold;
	font-family: Lucida, sans-serif;
	text-align: center;
	
}
.miniatureButton i {
	color: #333333;
	vertical-align: middle;
	margin-left: auto;
}
.miniatureButton:hover {
	background-color: gainsboro;
}
.miniatureTitle {
	padding: 8px 10px 8px 10px;
	width: 100%;
	bottom: 0;
	margin: 0;
	font-size: 12px;
	color: #333333;
	display: none;
	position: absolute;
	background-color: white;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
}
.miniature:hover .miniatureTitle {
	display: block;
}
.miniature:hover .miniatureButton {
	display: inline-block;
}
.miniatureInner:hover {
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
	border-radius: 8px;
}
.miniatureInner {
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	overflow: hidden;
	position: absolute;
}
.miniatureInner .miniatureImg {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-position: 50% 50%;
    background-repeat: no-repeat;
	background-size: cover;
}
 

@media only screen and (max-width : 650px){
	/* Tablet view: 2 tiles */
	.miniature {
	   width: 50%;
	   padding-bottom: 50%;
	}
	.miniatureInner {
		left: 6px;
		right: 6px;
		top: 6px;
		bottom: 6px;
	}
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
	/* Small desktop / ipad view: 3 tiles */
	.miniature {
	   width: 33.3%;
	   padding-bottom: 33.3%;
	}
	.miniatureInner {
		left: 8px;
		right: 8px;
		top: 8px;
		bottom: 8px;
	}
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
	/* Medium desktop: 4 tiles */
	.miniature {
	   width: 25%;
	   padding-bottom: 25%;
	}
}




/* Icon */
#plus {
	width: auto;
	height: auto;
	font-size: 18px;
}
#stepsIcon {
	float: right;
	margin-right: 10px;
	padding: 6px;
}
#stepsIcon:hover {
	background-color: #F0F0F0;
	border-radius: 4px;;
}
#toolsIcon, #materialsIcon {
	padding: 6px;
}
#toolsIcon:hover , #materialsIcon:hover {
	border-radius: 4px;
	background-color: #F0F0F0;
}




/* Image */
#avatarPreview {
	object-fit: cover;
  	width: 500px;
  	height: 500px;
}
.imageToUpload {
	opacity: 0;
	width: 0;
	height: 44px;
  	float: left;
}
.imageInput {
	margin: 6px 0 6px 0;
}
.imageButton {
	padding: 12px;
	border-radius: 4px;
	font-size: 14px;
	letter-spacing: 0.4px;
	width: auto;
	font-weight: bold;
	cursor: pointer;
	height: auto;
	border: none;
	font-family: Lucida, sans-serif;
	color: white;
	background-color: silver;
	display: block;
}
.imageButton:hover {
	background-color: gray;
}
.fileName {
	font-size: 13px;
	padding: 0 12px 0 12px;
	display: table-cell;
	font-family: Lucida, sans-serif;
	vertical-align: middle;
	line-height: 1.5;
	word-break: break-all;
}
.previewImg {
	width: 100%;
	margin: 6px 0 20px 0;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid #DDDDDD;
}
.steps > .inputText {
	margin: 4px 0px 0px 0px;
}


/* Input */
.inputArea {
	margin: auto;
	width: inherit;
	padding: 0;
}
.inputText {
	padding: 12px 10px 12px 10px;
	margin: 4px 0px 40px 0px;
	width: 100%;
	background-color: white;
	border: 2px solid #DDDDDD;
	border-radius: 4px;
	font-size: 15px;
	letter-spacing: 0.7px;
	font-family: Lucida, sans-serif;
	box-sizing: border-box;
	color: #333333;
}
.inputText:hover {
	border: 2px solid silver;
}
.inputText:focus {
	border: 2px solid silver;
}


/* Login */
#passwordRemind {
	font-size: 12px;
	letter-spacing: 0.7px;
	margin: 40px auto auto auto;
	font-family: Lucida, sans-serif;
	text-align: center;
	display: block;
	width: auto;
}
#remember {
	vertical-align: middle;
	width: 10px;
	height: 10px;
}
#rememberPassword {
	margin: auto;
	width: 100%;
	text-align: center;
}
#savePassword {
	font-size: 12px;
	letter-spacing: 0.7px;
	font-family: Lucida, sans-serif;
	margin: auto;
	vertical-align: middle;
	*overflow: hidden;
}


/* Menu */
.listHeader {
	font-weight: bold;
	margin: 0;
	padding: 6px;
	text-align: center;
}
.menuList {
    list-style: none;
    padding: 0;
	margin: 0;
	display: none;
	position: absolute;
	z-index: 1;
	width: inherit;
	border-radius: 4px;
	background-color: white;
	top: 50px;
}
.menuList > li {
    position: block;
	padding: 0;
	font-size: 13px;
	text-align: left;
	border-top: 1px solid white;
}
.menuList > li:hover {
    background-color: #F0F0F0;
}
.menuList > li > a {
	display: block;
	height: auto;
	padding: 10px 14px 10px 14px;
	margin: 0;
	font-size: 13px;
	color: #333333;
}
.menuList > lh {
	padding: 0;
	font-size: 14px;
	padding: 6px 10px 6px 10px;
	text-align: center;
	display: block;
	border-top: 1px solid white;
}
.searchBar {
	padding: 10px;
	font-size: 15px;
	letter-spacing: 0.7px;
	border-radius: 4px 0 0 4px;
	border: 2px solid #F0F0F0;
	height: inherit;
	font-family: Lucida, sans-serif;
	background-color: #F0F0F0;
	color: #333333;
	margin-left: 10px;
}
.searchBar:hover {
	border: 2px solid gainsboro;
}
.searchBar:focus {
	border: 2px solid gainsboro;
}
.searchButton {
	padding: 10px;
	font-size: 15px;
	letter-spacing: 0.7px;
	border-radius: 0 4px 4px 0;
	border: 2px solid #e1b74c;
	height: inherit;
	cursor: pointer;
	font-family: Lucida, sans-serif;
	background-color: #e1b74c;
}
.searchButton:hover {
	background-color: goldenrod;
	border: 2px solid goldenrod;
}
.menuElement {
	height: inherit;
	width: auto;
	display: block;
	cursor: pointer;
	padding: 0 14px;
	border-radius: 4px;
	background-color: white;
	color: #333333;
	font-size: 16px;
}
.menuElement:hover {
	background-color: #F0F0F0;
}
.menuText {
	font-size: 16px;
	font-weight: bold;
	margin: 11px 0;
}

#categories:hover #categoriesMenu {
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#logo{
	height: 36px;
	margin: 0;
	padding: 0;
}
#leftbox {
	width: 40%;
	height: 40px;
	float: left;
} 
#middlebox {
	width: 20%;
	height: 40px;
	float: left;
	text-align: center;
} 
#rightbox { 
	float: right;
	width: 40%;
	height: 40px;
}
#userAvatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 8px;
}
#userLogin {
	font-size: 18px;
	padding: 0;
	margin: auto;
	font-weight: bold;
}
#userName {
	height: inherit;
	display: flex; 
}
#user:hover #userMenu{
	display: block;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#menu {
	height: inherit;
	width: auto;
	display: none;
	cursor: pointer;
	padding: 0 14px;
	border-radius: 4px;
	background-color: white;
	color: #333333;
	font-size: 16px;
}
#menu:hover {
	background-color: #F0F0F0;
}



.submenuList {
	display: none;
	text-decoration: none;
}





/* Pagination */
.pagination {
	list-style-type: none;
  	margin: 0;
	padding: 0;
	display: block;
	text-align: center;
	width: auto;
}
.pagination > li {
	display: inline-block;
}
.pageItem {
	background-color: white;
	border: 2px solid #DDDDDD;
	border-radius: 4px;
	color: #333333;
}
.pageItem:hover {
	border: 2px solid silver;
}
.pageLink{
	font-family: Lucida, sans-serif;
	font-weight: bold;
	width: 26px;
	height: 26px;
	font-size: 14px;
	display: table-cell;
    vertical-align: middle 
}
.pageActive {
	background-color: #e1b74c;
	border: 2px solid #e1b74c;
	color: white;
}
.pageActive:hover {
	background-color: #e1b74c;
	border: 2px solid #e1b74c;
	color: white;
}
.pageDisabled:hover {
	border: 2px solid #DDDDDD;
}


/* Profile */
.profileImg {
	object-fit: cover;
  	width: 120px;
	height: 120px;
	border-radius: 4px;
	float: left;
}
.profile {
	width: 500px;
	display: inline-block;
	padding: 20px;
	margin: 20px 10px 30px 10px;
	background-color: white;
	border-radius: 4px;
}
.profileContent {
	vertical-align: top;
	padding: 0 20px 0 20px;
	width: 100%;
}


/* Tutorial ADD*/
.steps {
	border: 2px solid #DDDDDD;
	margin: 6px 0 10px 0;
	padding: 20px;
}
.toolsInput, .materialsInput {
	width: 85%;
	margin: 5px 10px 8px 0px;
	box-sizing: border-box;
}
#category {
	padding: 12px 10px 12px 10px;
	margin: 6px 0 30px 0;
	border-radius: 4px;
	font-size: 14px;
	letter-spacing: 0.7px;
	border: 2px solid #DDDDDD;
	font-weight: bold;
	color: #333333;
	font-family: Lucida, sans-serif;
	display: block;
	width: 200px;

	-webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Sort_down_font_awesome.svg/600px-Sort_down_font_awesome.svg.png) 96% / 15% no-repeat white;
}
#category:hover {
	border: 2px solid silver;
}
#category > option {
	color: #333333;
	background-color: white;
	font-family: Lucida, sans-serif;
	letter-spacing: 0.7px;
	font-weight: normal;
}
#materialsList, #toolsList, #stepsList {
	list-style: none;
	padding-left: 0;
	margin: 0;
}



/* Tutorial SHOW*/
.showAvatar {
	vertical-align: middle;
	border-radius: 4px;
	object-fit: cover;
	height: 80px;
	width: 80px;
}
.showAvatar:hover {
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.showCategory {
	margin: 16px 6px 40px 20px;
	font-size: 14px;
	font-family: Lucida, sans-serif;
	display: inline-block;
}
.showDescription, .showDescriptionStep {
	margin: 0 16px 20px 16px;
	text-align: justify;
	line-height: 1.5;
	display: block;
	font-size: 13px;
}
.showH3 {
	margin: 0 16px 0 16px;
}
.showImg {
	margin: 10px 0 10px 0;
  	width: 100%;
	height: auto;
	display: block;
}
.showUser {
	font-size: 17px;
	margin: 0 0 12px 0;
	font-weight: bold;
}
.showUser:hover {
	text-decoration: underline;
}
.showDetails {
	width: 100%;
	vertical-align: top;
	padding: 0 10px 0 10px;
}
.showList {
	margin: 6px 14px 40px 30px;
	padding: 0px;
	font-size: 13px;
}
.showList > li {
	padding: 6px;
	border-radius: 2px;
}
.showSteps {
	margin: 50px 0 0 0;
	width: 100%;
}
.showColumn {
	height: auto;
	display: table-cell;
	width: auto;
}
.show {
	margin: 0 auto 0 auto;
	display: flex;
	width: 100%;
	justify-content: center;
}
.showTutorial {
	max-width: 450px;
	margin: 20px auto 20px auto;
	border-radius: 4px;
	padding: 26px 0 26px 0;
	background-color: white;
}
.showHeadline {
	margin: 4px 16px 30px 16px;
	color: #333333;
	text-align: center;
	font-size: 22px;
}
.showLabel {
	margin: 0 14px 0 30px;
}







@media screen and (max-width: 970px) {
	#rightbox > .menuButton{
		display: none;
	}
	#rightbox > #user{
		display: none;
	}
	#leftSide {
		display: none;
	}
	#menu {
		display: block;
	}
	.menuList > li > a {
		padding: 6px 10px 6px 10px;
		font-size: 12px;
	}
	.menuList > li {
		border-bottom: 1px solid gainsboro;
	}
}

@media screen and (max-width: 470px) {
	.inputText{
		font-size: 13px;
		padding: 8px;
	}
	label {
		font-size: 11px;
	}
	.headline {
		font-size: 22px;
	}
	.formStyle {
		padding: 40px 25px 40px 25px;
	}
}













html, body {
    font-family: Arial, Helvetica, sans-serif;
}

/* define a fixed width for the entire menu */
.navigation {
  width: 300px;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu a {
  display: block;
  background-color: #CCC;
  text-decoration: none;
  padding: 10px;
  color: #000;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: #C5C5C5;
}


/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu a {
  background-color: #999;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #666;
}

/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
